@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: 0 0% 9%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;

        --brand-50: 197 100% 96%;
        --brand-100: 200 100% 92%;
        --brand-200: 198 100% 86%;
        --brand-300: 196 100% 76%;
        --brand-400: 198 100% 65%;
        --brand-500: 203 100% 58%;
        --brand-600: 208 100% 53%;
        --brand-700: 211 93% 45%;
        --brand-800: 213 86% 40%;
        --brand-900: 211 79% 33%;
        --brand-950: 213 70% 21%;


    }


}

@layer base {
    body {
        @apply bg-background text-foreground font-inter;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

/*FONTS*/
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Thin.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Thin.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-ExtraLight.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Light.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Light.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-LightItalic.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Italic.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-ExtraBold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-BlackItalic.woff?v=3.19") format("woff");
}

.disabled-background {
    background-image: repeating-linear-gradient(45deg, #F8F9FB, #F8F9FB 2.5px, #E6E7EB 2.5px, #E6E7EB 5px);
}

.sonner-loading-wrapper {
    --size: 16px;
    height: var(--size);
    width: var(--size);
    inset: 0;
    z-index: 10;
}

.sonner-loading-wrapper[data-visible='false'] {
    transform-origin: center;
    animation: sonner-fade-out 0.2s ease forwards;
}

.sonner-spinner {
    position: relative;
    top: 50%;
    left: 50%;
    height: var(--size);
    width: var(--size);
}

.sonner-loading-bar {
    animation: sonner-spin 1.2s linear infinite;
    background: var(hsl(0, 0%, 43.5%));
    border-radius: 6px;
    height: 8%;
    left: -10%;
    position: absolute;
    top: -3.9%;
    width: 24%;
}

.sonner-loading-bar:nth-child(1) {
    animation-delay: -1.2s;
    /* Rotate trick to avoid adding an additional pixel in some sizes */
    transform: rotate(0.0001deg) translate(146%);
}

.sonner-loading-bar:nth-child(2) {
    animation-delay: -1.1s;
    transform: rotate(30deg) translate(146%);
}

.sonner-loading-bar:nth-child(3) {
    animation-delay: -1s;
    transform: rotate(60deg) translate(146%);
}

.sonner-loading-bar:nth-child(4) {
    animation-delay: -0.9s;
    transform: rotate(90deg) translate(146%);
}

.sonner-loading-bar:nth-child(5) {
    animation-delay: -0.8s;
    transform: rotate(120deg) translate(146%);
}

.sonner-loading-bar:nth-child(6) {
    animation-delay: -0.7s;
    transform: rotate(150deg) translate(146%);
}

.sonner-loading-bar:nth-child(7) {
    animation-delay: -0.6s;
    transform: rotate(180deg) translate(146%);
}

.sonner-loading-bar:nth-child(8) {
    animation-delay: -0.5s;
    transform: rotate(210deg) translate(146%);
}

.sonner-loading-bar:nth-child(9) {
    animation-delay: -0.4s;
    transform: rotate(240deg) translate(146%);
}

.sonner-loading-bar:nth-child(10) {
    animation-delay: -0.3s;
    transform: rotate(270deg) translate(146%);
}

.sonner-loading-bar:nth-child(11) {
    animation-delay: -0.2s;
    transform: rotate(300deg) translate(146%);
}

.sonner-loading-bar:nth-child(12) {
    animation-delay: -0.1s;
    transform: rotate(330deg) translate(146%);
}

@keyframes sonner-fade-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes sonner-fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes sonner-spin {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.15;
    }
}
